body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}

/* body {
  font-family: Garamond;
} */

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

.katex { 
  font-size: 10px; 
}
