{{ define "main" }}
<div class="container-x">
  <article>
      <header>
          <h1 class="post-title">{{ .Title }}</h1>
      </header>

            <table class="post-list-table">
                <tbody>
                    {{ range .Pages }}
                    <tr>
                        <td style="width: 8em; white-space:nowrap;">{{ .Date.Format "2006-01-02" }}</td>
                        <td>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ with .Params.icon }}
                                <img src="{{ . }}" class="post-icon">
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
  </article>
</div>
{{ end }}
