{{ define "main" }}
<div style="position: relative;">
    <article style="position: relative;">
        <header style="display: flex; align-items: center; position: relative; justify-content: space-between; width: 100%;">
            {{ with .Params.icon }}
                <div style="position: absolute; left: calc(-1 * (60px + 1.2em)); top: 0; height: 100%; width: 60px; display: flex; align-items: center; justify-content: flex-start; z-index:2;">
                    <img src="{{ . }}" alt="icon" style="width: 60px; height: auto; max-width: 100%; display: block; object-fit: contain;" />
                </div>
            {{ end }}
            <h1 class="post-title" style="margin:0; display:inline-block; vertical-align:middle;">{{ .Title }}</h1>
            <div class="post-meta" style="min-width:170px; display:flex; flex-direction:column; align-items:flex-end; text-align:right;">
                <span>{{ .Date.Format "January 2, 2006" }}</span>
                <span style="font-size:0.95em; opacity:0.7; margin-top:0.1em;">{{ .WordCount }} words</span>
            </div>
        </header>
        <hr>

        <div class="post-content">
            {{ .Content }}
        </div>
    </article>
</div>
{{ end }}
